nav ul a {
    display: inline-block;
}

nav.nav-extended .nav-content {
    position: inherit;
}

.dropdown {
    position: relative;
    .dropdown-links {
        display: none;
        position: absolute;
        z-index: 1000;
        overflow: visible;
    }
    &:hover .dropdown-links {
        display: block;
        background-color: $drop-down-color;
    }
    a {
        display: block;
    }
}