nav ul a {
    display: inline-block;
}

nav.nav-extended .nav-content {
    position: inherit;
}

.dropdown {
    position: relative;
    .dropdown-links {
        display: none;
    }
    &:hover .dropdown-links {
        display: block;
    }
    a {
        display: block;
    }
}