@import 'variables';
@import 'search';
@import 'register';
@import 'login';
@import 'dropdown';

/* GENERAL RULES */

body {
}

.App{
    overflow-x: hidden;
}

img {
    width: 100%;
}


/* label focus color */

.input-field input:focus+label {
    color: $primary-color !important;
}


/* label underline focus color */

.row .input-field input:focus {
    border-bottom: 1px solid $primary-color !important;
    box-shadow: 0 1px 0 0 $primary-color !important
}


/* button color */

.btn,
.btn:focus {
    background-color: $primary-color;
}


/* button hover color */

.btn:hover {
    background-color: $hover-color;
}


/* checkbox color */

.primary-color:checked+label:before {
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
}